html,
body {
  margin: 0px;
  padding: 0px;
}

p {
  color: black;
}

.header-minimalist {
  display: grid;
  /* display: none; */
  position: fixed;
  z-index: 99;
  background-color: black;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 4fr;
  grid-template-rows: 75px;
  grid-template-areas: "logo portfolio1 portfolio2 portfolio3 about contacts social-media";
}

.header-mobile {
  display: none;
}

.header-minimalist a {
  text-decoration: none;
  color: #f0f8ff;
  line-height: 17px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: 200ms color ease-in;
  transition: 200ms font-size ease-in;
}

#logo-mobile {
  /* display: none; */
  width: 70px;
  height: auto;
  padding-top: 6px;
}

.social-icons img {
  width: 50px;
  height: auto;
}

.header-minimalist a:hover {
  color: gold;
}
#logo {
  grid-area: logo;
}

#logo img {
  object-fit: contain;
  width: 100%;
  max-height: 100%;
}

#about {
  align-self: center;
  justify-self: center;
  grid-area: about;
  scale: 1.4;
}

    #about a{
            color: gold;
        }

        #contacts a:hover{
            font-size: 12px;
        }

#portfolio1 {
  align-self: center;
  justify-self: center;
  grid-area: portfolio1;
}

#portfolio2 {
  align-self: center;
  justify-self: center;
  grid-area: portfolio2;
}

#portfolio3 {
  align-self: center;
  justify-self: center;
  grid-area: portfolio3;
}

#contacts {
  align-self: center;
  justify-self: center;
  grid-area: contacts;
}

.social-media {
  align-self: center;
  justify-self: end;
  grid-area: social-media;
}

.social-media img {
  padding: 15px;
  width: 20px;
  height: 20px;
}

#social-media img:hover {
  width: 25px;
  height: 25px;
}

#photo {
  padding-top: 75px;
  background-image: url(../images/ivanOld.gif);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right top 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 350px 60px 60px;
  padding-bottom: 130px;
  grid-template-areas:
    "name .."
    "job .."
}

#photo h4 {
  width: 300px;
  margin: 0px;
  color:#000000;
}

#photo h1 {
    color:#000000;
}

#name {
  grid-area: name;
  color: aliceblue;
  font-size: 8.125rem;
  letter-spacing: 0rem;
  line-height: 1.03333;
  text-align: left;
  justify-self: end;
}

#job {
  grid-area: job;
  color: aliceblue;
  font-size: 2.5rem;
  letter-spacing: 0rem;
  line-height: 1.03333;
  text-align: right;
  align-self: end;
  justify-self: end;
  padding-right: 360px;
}

#personal-contacts {
  grid-area: personal-contacts;
  color: aliceblue;
  font-size: 40px;
  letter-spacing: 0rem;
  line-height: 1.03333;
  text-align: right;
  align-self: start;
  justify-self: end;
  padding-right: 295px;
}

#biography {
  display: grid;
  grid-template-columns: 2fr 3fr 0.5fr;
  padding: 100px;
  grid-template-areas:
  "biography-title biography-text ..";
  color: black;
  background-color: #faf2f2;
}

#biography p {
  color: black;
  font-size: 18px;
  letter-spacing: 0rem;
  line-height: 1.73333;
  text-align: justify;
}

#biography-title {
  grid-area: biography-title;
  justify-self: center;
  font-size: 28px;
  margin: 0px;
  padding: 0px;
  line-height: 0px;
}

#biography-text {
  grid-area: biography-text;
  align-self: start;
  justify-self: center;
}

#biography-text p {
    font-size: 22px;
    line-height: 40px;
}

#awards {
  background-color: #eee;
  display: grid;
  grid-template-columns: 2fr 3fr 0.5fr;
  padding: 100px;
  grid-template-areas: "awards-title awards-text";
}

#awards p {
  color: black;
  font-size: 18px;
  letter-spacing: 0rem;
  line-height: 1.73333;
  text-align: justify;
}

#awards-title {
  grid-area: awards-title;
  justify-self: center;
  font-size: 28px;
  margin: 0px;
  padding: 0px;
  line-height: 0px;
}

#awards-text {
  grid-area: awards-text;
  align-self: start;
  justify-self: center;
}

#footer-minimalist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 75px;
  background-color: black;
  justify-items: center;
  align-items: center;
  gap: 30px;
  grid-template-areas: "developed cop social-media";
}

#footer-minimalist a,
p {
  text-decoration: none;
  color: aliceblue;
  line-height: 17px;
  font-size: 12px;
}

#footer-minimalist a:hover {
  color: gold;
}

#developed {
  grid-area: developed;
  justify-self: start;
  margin-left: 30px;
}

#cop {
  grid-area: cop;
}

@media only screen and (min-width: 1600px) and (max-width: 1800px) {
        #photo {
    padding-top: 75px;
    background-image: url(../images/ivanOld.gif);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right top 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 350px 60px 60px;
    padding-bottom: 60px;
    grid-template-areas:
        "name .."
        "job .."
    }

        #name {
    grid-area: name;
    color: aliceblue;
    font-size: 8.125rem;
    letter-spacing: 0rem;
    line-height: 1.03333;
    text-align: left;
    justify-self: end;
    }

    #job {
    grid-area: job;
    color: aliceblue;
    font-size: 2.5rem;
    letter-spacing: 0rem;
    line-height: 1.03333;
    text-align: right;
    align-self: end;
    justify-self: end;
    padding-right: 360px;
    }

}

@media only screen and (min-width: 1201px) and (max-width: 1599px) {
        #photo {
    padding-top: 75px;
    background-image: url(../images/ivanOld.gif);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right top 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 270px 40px 80px;
    padding-bottom: 0px;
    grid-template-areas:
        "name .."
        "job .."
    }

    #name {
        grid-area: name;
        color: aliceblue;
        font-size: 6rem;
        letter-spacing: 0rem;
        line-height: 1.03333;
        text-align: left;
        justify-self: start;
        width: 470px;
        margin-left: 200px;

    }

    #job {
        grid-area: job;
        color: aliceblue;
        font-size: 2rem;
        letter-spacing: 0rem;
        line-height: 1.03333;
        text-align: left;
        align-self: start;
        justify-self: start;
        padding-right: 0px;
        width: 470px;
        margin-left: 200px;

    }

}

@media only screen and (max-device-width: 1200px) {
    .header-minimalist {
        display: none;
    }

    .header-mobile {
        display: inherit;
    }
    html,
    body {
        background-color: #505050;
    }
}




@media only screen and (min-width: 730px) and (max-width: 1199px) {

    #photo {
        background-image: url(../images/ivanOld.gif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left 0px ;
        display: flex;
        flex-direction: column;
        height: 250px;
    }

    #photo h4 {
        width: 300px;
        margin: 0px;
        color:#ffffff;
        text-shadow: 6px 6px 8px black;
    }

    #photo h1 {
        color:#ffffff;
        text-shadow: 6px 6px 8px black;
    }

    #name {
        grid-area: name;
        color: aliceblue;
        font-size: 40px;
        letter-spacing: 0rem;
        line-height: 0;
        text-align: center;
        justify-self: center;
        padding-top: 70px;
    }

    #job {
        grid-area: job;
        color: aliceblue;
        font-size: 25px;
        letter-spacing: 0rem;
        line-height: 0px;
        text-align: center;
        align-self: center;
        justify-self: center;
        padding-right: 0px;
        padding-left: 20px;
    }

    #biography {
        display: flex;
        flex-direction: column;
        color: black;
        background-color: #faf2f2;
        width: 100%;
        padding: 0;
        margin: 0px;

    }

    #biography p {
        width: 650px;
        color: black;
        font-size: 14px;
        letter-spacing: 0rem;
        line-height: 1.73333;
        text-align: justify;
    }

    #biography-title {
        width: 650px;
        grid-area: biography-title;
        justify-self: center;
        font-size: 35px;
        padding-top: 30px;
        line-height: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    #biography-text {
        margin-left: auto;
        margin-right: auto;
        grid-area: biography-text;
        align-self: start;
        justify-self: center;
    }

    #biography-text p {
        font-size: 20px;
        line-height: 37px;
        padding-bottom: 50px;
    }


}

@media only screen and (min-width: 550px) and (max-width: 729px) {

    #photo {
        background-image: url(../images/ivanOld.gif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left 0px ;
        display: flex;
        flex-direction: column;
        height: 250px;
    }

    #photo h4 {
        width: 300px;
        margin: 0px;
        color:#ffffff;
        text-shadow: 6px 6px 8px black;
    }

    #photo h1 {
        color:#ffffff;
        text-shadow: 6px 6px 8px black;
    }

    #name {
        grid-area: name;
        color: aliceblue;
        font-size: 40px;
        letter-spacing: 0rem;
        line-height: 0;
        text-align: center;
        justify-self: center;
        padding-top: 70px;
    }

    #job {
        grid-area: job;
        color: aliceblue;
        font-size: 25px;
        letter-spacing: 0rem;
        line-height: 0px;
        text-align: center;
        align-self: center;
        justify-self: center;
        padding-right: 0px;
        padding-left: 20px;
    }

    #biography {
        display: flex;
        flex-direction: column;
        color: black;
        background-color: #faf2f2;
        width: 100%;
        padding: 0;
        margin: 0px;

    }

    #biography p {
        width: 500px;
        color: black;
        font-size: 14px;
        letter-spacing: 0rem;
        line-height: 1.73333;
        text-align: justify;
    }

    #biography-title {
        width: 500px;
        grid-area: biography-title;
        justify-self: center;
        font-size: 35px;
        padding-top: 30px;
        line-height: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    #biography-text {
        margin-left: auto;
        margin-right: auto;
        grid-area: biography-text;
        align-self: start;
        justify-self: center;
    }

    #biography-text p {
        font-size: 20px;
        line-height: 37px;
        padding-bottom: 50px;
    }
}

@media only screen and (min-width: 400px) and (max-width: 549px) {

    #photo {
        background-image: url(../images/ivanOld.gif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left 0px ;
        display: flex;
        flex-direction: column;
        height: 250px;
    }

    #photo h4 {
        width: 300px;
        margin: 0px;
        color:#ffffff;
        text-shadow: 6px 6px 8px black;
    }

    #photo h1 {
        color:#ffffff;
        text-shadow: 6px 6px 8px black;
    }

    #name {
        grid-area: name;
        color: aliceblue;
        font-size: 40px;
        letter-spacing: 0rem;
        line-height: 0;
        text-align: center;
        justify-self: center;
        padding-top: 70px;
    }

    #job {
        grid-area: job;
        color: aliceblue;
        font-size: 25px;
        letter-spacing: 0rem;
        line-height: 0px;
        text-align: center;
        align-self: center;
        justify-self: center;
        padding-right: 0px;
        padding-left: 20px;
    }

    #biography {
        display: flex;
        flex-direction: column;
        color: black;
        background-color: #faf2f2;
        width: 100%;
        padding: 0;
        margin: 0px;

    }

    #biography p {
        width: 390px;
        color: black;
        font-size: 14px;
        letter-spacing: 0rem;
        line-height: 1.73333;
        text-align: justify;
    }

    #biography-title {
        width: 390px;
        grid-area: biography-title;
        justify-self: center;
        font-size: 28px;
        padding-top: 30px;
        line-height: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    #biography-text {
        margin-left: auto;
        margin-right: auto;
        grid-area: biography-text;
        align-self: start;
        justify-self: center;
    }

    #biography-text p {
        font-size: 16px;
        line-height: 35px;
        padding-bottom: 50px;
    }

}

@media only screen and (max-width: 399px) {

    #photo {
        background-image: url(../images/ivanOld.gif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left 0px ;
        display: flex;
        flex-direction: column;
        height: 250px;
    }

    #photo h4 {
        width: 300px;
        margin: 0px;
        color:#ffffff;
        text-shadow: 6px 6px 8px black;
    }

    #photo h1 {
        color:#ffffff;
        text-shadow: 6px 6px 8px black;
    }

    #name {
        grid-area: name;
        color: aliceblue;
        font-size: 40px;
        letter-spacing: 0rem;
        line-height: 0;
        text-align: center;
        justify-self: center;
        padding-top: 70px;
    }

    #job {
        grid-area: job;
        color: aliceblue;
        font-size: 25px;
        letter-spacing: 0rem;
        line-height: 0px;
        text-align: center;
        align-self: center;
        justify-self: center;
        padding-right: 0px;
        padding-left: 20px;
    }

    #biography {
        display: flex;
        flex-direction: column;
        color: black;
        background-color: #faf2f2;
        width: 100%;
        padding: 0;
        margin: 0px;

    }

    #biography p {
        width: 320px;
        color: black;
        font-size: 14px;
        letter-spacing: 0rem;
        line-height: 1.73333;
        text-align: justify;
    }

    #biography-title {
        width: 320px;
        grid-area: biography-title;
        justify-self: center;
        font-size: 28px;
        padding-top: 30px;
        line-height: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    #biography-text {
        margin-left: auto;
        margin-right: auto;
        grid-area: biography-text;
        align-self: start;
        justify-self: center;
    }

    #biography-text p {
        font-size: 16px;
        line-height: 35px;
        padding-bottom: 50px;
    }

}
