html,
body {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
}

a:active {
  color: gold;
  font-size: 14px;
}

.header-minimalist {
  display: grid;
  /* display: none; */
  position: fixed;
  z-index: 99;
  background-color: black;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 4fr;
  grid-template-rows: 75px;
  grid-template-areas: "logo portfolio1 portfolio2 portfolio3 about contacts social-media";
}

.header-mobile {
  display: none;
}

.header-minimalist a {
  text-decoration: none;
  color: #f0f8ff;
  line-height: 17px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: 200ms color ease-in;
  transition: 200ms font-size ease-in;
}

#logo-mobile {
  /* display: none; */
  width: 70px;
  height: auto;
  padding-top: 6px;
}

.social-icons img {
  width: 50px;
  height: auto;
}

.header-minimalist a:hover {
  color: gold;
}
#logo {
  grid-area: logo;
}

#logo img {
  object-fit: contain;
  width: 100%;
  max-height: 100%;
}

#about {
  align-self: center;
  justify-self: center;
  grid-area: about;
}

#portfolio1 {
  align-self: center;
  justify-self: center;
  grid-area: portfolio1;
}

#portfolio2 {
  align-self: center;
  justify-self: center;
  grid-area: portfolio2;
}

#portfolio3 {
  align-self: center;
  justify-self: center;
  grid-area: portfolio3;
}

#contacts {
  align-self: center;
  justify-self: center;
  grid-area: contacts;
}

.social-media {
  align-self: center;
  justify-self: end;
  grid-area: social-media;
}

.social-media img {
  padding: 15px;
  width: 20px;
  height: 20px;
}

#social-media img:hover {
  width: 25px;
  height: 25px;
}

#header-title {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 600px;
  background-image: url(../images/header-image2.gif);
  background-size: cover;
  gap: 50px;
  align-items: center;
  grid-template-areas: "fazcine title";
}
#fazcine {
  grid-area: fazcine;
  justify-self: end;
  color: azure;
  font-size: 50px;
}

#title {
  grid-area: title;
  justify-self: start;
  color: azure;
  font-size: 20px;
  line-height: 60px;
  width: 500px;
}

#films {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 700px 700px 700px;
  grid-template-areas:
    "film2"
    "film1"
    "film3";
  /* "film4" */
  /* "film5"; */
}



#film1 {
  display: grid;
  place-items: center;
  grid-area: film1;
  background-image: url(../images/films/abismo.jpg);
  background-size: cover;
  background-position: center;
}

.film-h1-none {
  display: none;
}

#abismo {
}

#abismo2 {
  font-size: 27px;
}

#requiem {
  display: inherit;
  font-size: 70px;
  font-weight: bolder;
  text-shadow: 10px 10px 10px black;
  padding-top: 90px;
}

#historias {
  display: inherit;
}

#zelito {
  display: inherit;
}

#food {
  display: inherit;
}

#abismo-player {
  display: none;
  position: relative;
}

#requiem-player {
  display: none;
  position: relative;
}

#historias-player {
  display: none;
  position: relative;
}

#zelito-player {
  display: none;
  position: relative;
}

#food-player {
  display: none;
  position: relative;
}

.film-player-inherit {
  display: inherit;
  position: relative;
}

#film2 {
  display: grid;
  place-items: start center;
  grid-area: film2;
  background-image: url(../images/films/cinema/film0.png);
  background-size: cover;
  background-position: center;
}

#film3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "card1 card2 card3";
  grid-area: film3;
  background-image: url(../images/premios.jpeg);
  background-size: cover;
  background-position: center;
}

#card1 {
  grid-area: card1;
}

#card2 {
  grid-area: card2;
}

#card3 {
  grid-area: card3;
}

#film4 {
  display: grid;
  place-items: center;
  grid-area: film4;
  background-image: url(../images/films/zelito.png);
  background-size: cover;
}

#film5 {
  display: grid;
  place-items: center;
  grid-area: film5;
  background-image: url(../images/films/food-park.png);
  background-size: cover;
}

.btn {
  /* width: auto; */
  text-shadow: 6px 6px 8px black;
  text-align: center;
  text-justify: center;
  line-height: 100px;
  font-size: 42px;
  color: rgb(255, 255, 255);
  /* cursor: pointer; */
  /* margin: 0 0 2em; */
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.btn-2 {
  letter-spacing: 0;
}

/* .btn-2:after,
.btn-2:before {
  backface-visibility: hidden;
  border: 4px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
} */

.footer-minimalist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 75px;
  background-color: black;
  justify-items: center;
  align-items: center;
  gap: 30px;
  grid-template-areas: "developed cop social-media";
}

.footer-minimalist a,
p {
  text-decoration: none;
  color: aliceblue;
  line-height: 17px;
  font-size: 12px;
  font-weight: bold;
}

.footer-minimalist a:hover {
  color: gold;
}

#developed {
  grid-area: developed;
  justify-self: start;
  margin-left: 30px;
}

#cop {
  grid-area: cop;
}

.movie_card {
  /* margin: 0; */
  font-family: "Montserrat", helvetica, arial, sans-serif;
  /* font-size: 14px; */
  /* font-weight: 200; */
  /* position: relative; */
  display: block;
  width: 400px;
  height: 380px;
  margin: 80px auto;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
  box-shadow: 0px 0px 120px -25px rgba(0, 0, 0, 0.5);
}
.movie_card:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 80px -25px rgba(0, 0, 0, 0.5);
  transition: all 0.4s;
}
.movie_card .info_section {
  /* position: relative; */
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  z-index: 2;
  border-radius: 10px;
}
.movie_card .info_section .movie_header {
  padding-top: 25px;
  text-align: center;
}
.movie_card .info_section .movie_header h1 {
  color: black;
  font-size: 30px;
}

.movie_card .info_section .movie_desc {
  margin-right: auto;
  margin-left: auto;
}
.movie_card .info_section .movie_desc .text {
  color: #000000;
  font-size: 16px;
  line-height: 25px;
  text-align: justify;
}

@media screen and (min-width: 768px) {
  .movie_header {
    width: 90%;
  }
  .movie_desc {
    width: 90%;
  }
  .info_section {
    background: linear-gradient(to right, #c5c5c5 0%, transparent 110%);
  }
}
@media screen and (max-width: 768px) {
  .movie_card {
    width: 95%;
    margin: 70px auto;
    min-height: 350px;
    height: auto;
  }
  .blur_back {
    width: 100%;
    background-position: 50% 50% !important;
  }
  .movie_header {
    width: 100%;
    margin-top: 45px;
    margin-bottom: 20px;
  }
  .movie_desc {
    width: 100%;
  }
  .info_section {
    background: linear-gradient(to top, #e5e6e6 50%, transparent 100%);
    display: inline-grid;
  }
}

@media only screen and (max-device-width: 1200px) {
  .header-minimalist {
    display: none;
  }

  .header-mobile {
    display: inherit;
  }
  html,
  body {
    background-color: #505050;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1200px) {

    #film3 {
        display: flex;
        flex-direction: column;
    }


    #films {
        grid-template-rows: 500px 500px 1200px;
    }

    .movie_card {
        width: 410px;
        height: 300px;
       margin-top: 30px;
       margin-left: auto;
       margin-right: auto;
    }
    .movie_card .info_section .movie_header {
        padding-top: 20px;
        text-align: center;
    }
    .movie_card .info_section .movie_header h1 {
        font-size: 22px;
    }
    .movie_card .info_section .movie_desc .text {
        font-size: 16px;
        line-height: 25px;
        margin: 18px;
    }
}

@media only screen and (min-width: 730px) and (max-width: 1099px) {

     #fazcine {
        color: azure;
        font-size: 37px;
    }

    #title {
        color: azure;
        font-size: 14px;
        line-height: 35px;
        max-width: 250px;
    }

    #requiem {
        font-size: 40px;
        padding-top: 30px;
    }

    #film2 {
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
        background-position: center;
    }

    .btn {
        line-height: 50px;
        font-size: 40px;
    }

    #abismo2 {
        font-size: 22px;
    }

    #film3 {
        display: flex;
        flex-direction: column;
    }


    #films {
        grid-template-rows: 500px 500px 1200px;
    }

    .movie_card {
        width: 410px;
        height: 300px;
       margin-top: 30px;
       margin-left: auto;
       margin-right: auto;
    }
    .movie_card .info_section .movie_header {
        padding-top: 20px;
        text-align: center;
    }
    .movie_card .info_section .movie_header h1 {
        font-size: 22px;
    }
    .movie_card .info_section .movie_desc .text {
        font-size: 16px;
        line-height: 25px;
        margin: 18px;
    }

}

@media only screen and (min-width: 550px) and (max-width: 729px) {


    #header-title {
        margin: 5px;
        display: flex;
        height: 500px;
        background-image: url(../images/header-image2.gif);
        background-size: cover;

    }
    #fazcine {
        color: azure;
        font-size: 37px;
    }

    #title {
        color: azure;
        font-size: 14px;
        line-height: 35px;
    }

    #requiem {
        font-size: 40px;
        padding-top: 30px;
    }

    #film2 {
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
        background-position: center;
    }

    .btn {
        line-height: 50px;
        font-size: 40px;
    }

    #abismo2 {
        font-size: 22px;
    }

    #film3 {
        display: flex;
        flex-direction: column;
    }


    #films {
        grid-template-rows: 500px 500px 1400px;
    }

    .movie_card {
        width: 320px;
        height: 270px;
       margin-top: 30px;
       margin-left: auto;
       margin-right: auto;
    }
    .movie_card .info_section .movie_header {
        padding-top: 2px;
        text-align: center;
    }
    .movie_card .info_section .movie_header h1 {
        font-size: 22px;
    }
    .movie_card .info_section .movie_desc .text {
        font-size: 14px;
        line-height: 25px;
        margin: 8px;
    }

}

@media only screen and (min-width: 400px) and (max-width: 549px) {


    #header-title {
        margin: 5px;
        display: flex;
        height: 500px;
        background-image: url(../images/header-image2.gif);
        background-size: cover;

    }
    #fazcine {
        color: azure;
        font-size: 30px;
    }

    #title {
        color: azure;
        font-size: 12px;
        line-height: 35px;
    }

    #requiem {
        font-size: 40px;
        padding-top: 30px;
    }

    #film2 {
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
        background-position: center;
    }

    .btn {
        line-height: 40px;
        font-size: 36px;
    }

    #abismo2 {
        font-size: 20px;
    }

    #film3 {
        display: flex;
        flex-direction: column;
    }

    #films {
        grid-template-rows: 500px 500px 1400px;
    }

    .movie_card {
        width: 320px;
        height: 270px;
       margin-top: 30px;
       margin-left: auto;
       margin-right: auto;
    }
    .movie_card .info_section .movie_header {
        padding-top: 2px;
        text-align: center;
    }
    .movie_card .info_section .movie_header h1 {
        font-size: 22px;
    }
    .movie_card .info_section .movie_desc .text {
        font-size: 14px;
        line-height: 25px;
        margin: 8px;
    }

    .footer-minimalist {
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 85px;
    }

    .footer-minimalist a,
    p {
    font-size: 12px;
    font-weight: 400;
    }

}

@media only screen and (max-width: 399px) {

    #header-title {
        margin: 5px;
        display: flex;
        height: 500px;
        background-image: url(../images/header-image2.gif);
        background-size: cover;

    }
    #fazcine {
        color: azure;
        font-size: 25px;
    }

    #title {
        color: azure;
        font-size: 10px;
        line-height: 35px;
    }

    #films {
        grid-template-rows: 500px 500px 1400px;
    }

    #requiem {
        font-size: 32px;
        padding-top: 60px;
    }

    #film2 {
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
        background-position: center;
    }

    #film1 {
        background-size: cover;
        background-position: center;
    }

    .btn {
        line-height: 40px;
        font-size: 32px;
    }

    #abismo2 {
        font-size: 18px;
    }

    .movie_card .info_section .movie_desc .text {
        font-size: 16px;
        line-height: 25px;
    }

    #film3 {
        display: flex;
        flex-direction: column;
    }

    .movie_card {
        width: 320px;
        height: 270px;
       margin-top: 30px;
       margin-left: auto;
       margin-right: auto;
    }
    .movie_card .info_section .movie_header {
        padding-top: 2px;
        text-align: center;
    }
    .movie_card .info_section .movie_header h1 {
        font-size: 22px;
    }
    .movie_card .info_section .movie_desc .text {
        font-size: 14px;
        line-height: 25px;
        margin: 8px;
    }

    .footer-minimalist {
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 85px;
    }

    .footer-minimalist a,
    p {
    font-size: 12px;
    font-weight: 400;
    }

}
